h1.page-header Calendar

script src="http://momentjs.com/downloads/moment.js"
script src="//fullcalendar.io/js/fullcalendar-3.0.0/fullcalendar.min.js"
link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.0/fullcalendar.min.css" rel="stylesheet"

#calendar

javascript:
  app.atartApp();
